
:root {
    --btn-navlink-color: #0000008c;
    --btn-navlink-bg-color: #f7f7f7;
    --btn-navlink-active-color: #285192;
    --btn-navlink-active-bg-color: #e3ebf7;
    --btn-action-color: #fff;
    --btn-action-bg-color: #3b71ca;
}


body {
}

.border {
    border:0px !important;
}

.footer {
    position: absolute;
    width: 100%;
    text-align: center;
    white-space: nowrap;    
    background-color: white;
}

.LoginUser.pb-4 {
    padding-bottom: 4.1rem !important;
}

.RegisterUser.pb-4 {
    padding-bottom: 1.5rem !important;
}

.ForgotPassword.pb-4 {
    padding-bottom: 10.8rem !important;
}

.imgSiteLogo {
    margin: auto;
    display: block;
    width: 10rem;
    height: 10rem;
}

.btn-navlink {
    color:var(--btn-navlink-color) !important;
   background-color:var(--btn-navlink-bg-color) !important;
}

.btn-navlink.active {
    color: var(--btn-navlink-active-color) !important;
    background-color: var(--btn-navlink-active-bg-color) !important;
}

.btn-action {
    color: var(--btn-action-color) !important;
    background-color: var(--btn-action-bg-color) !important;
}
