.maincontent {
    margin: 0 auto;
    width: 98%;
    margin-top: 10px;
}

    .maincontent .card-header {
        text-align: left !important;
        font-size: 16pt;
    }


    .maincontent .card {
        border-radius: 0.25rem !important;
    }

        .maincontent .card .form-row .active {
            background: none;
        }

        .maincontent .card .form-group .active {
            background: none;
        }

.btn-primary1 {
    color: var(--btn-primary-color);
    background-color: var(--btn-primary-bg-color);
    border-color: var(--btn-primary-border-color);
    font-style: var(--btn-primary-style);
    font-size: var(--btn-primary-size) !important;
    font-family: var(--btn-primary-family);
}

.btn-primary1:hover {
    color: var(--btn-primary-color-hover);
    background-color: var(--btn-primary-bg-color-hover);
    border-color: var(--btn-primary-border-color-hover);
}

    .btn-primary1:not(:disabled):not(.disabled).active, .btn-primary1:not(:disabled):not(.disabled):active, .show > .btn-primary1.dropdown-toggle {
        color: var(--btn-primary-disable-color);
        background-color: var(--btn-primary-disable-bg-color);
        border-color: var(--btn-primary-disable-border-color);
    }

.btn-secondary1 {
    color: var(--btn-secondary-color);
    background-color: var(--btn-secondary-bg-color);
    border-color: var(--btn-secondary-border-color);
    font-style: var(--btn-secondary-style);
    font-size: var(--btn-secondary-size) !important;
    font-family: var(--btn-secondary-family);
}

.btn-secondary1:hover {
    color: var(--btn-secondary-color-hover);
    background-color: var(--btn-secondary-bg-color-hover);
    border-color: var(--btn-secondary-border-color-hover);
}

    .btn-secondary1:not(:disabled):not(.disabled).active, .btn-secondary1:not(:disabled):not(.disabled):active, .show > .btn-secondary1.dropdown-toggle {
        color: var(--btn-secondary-disable-color);
        background-color: var(--btn-secondary-disable-bg-color);
        border-color: var(--btn-secondary-disable-border-color);
    }

.btn-success1 {
    color: var(--btn-success-color);
    background-color: var(--btn-success-bg-color);
    border-color: var(--btn-success-border-color);
    font-style: var(--btn-success-style);
    font-size: var(--btn-success-size) !important;
    font-family: var(--btn-success-family);
}

.btn-success1:hover {
    color: var(--btn-success-color-hover);
    background-color: var(--btn-success-bg-color-hover);
    border-color: var(--btn-success-border-color-hover);
}

    .btn-success1:not(:disabled):not(.disabled).active, .btn-success1:not(:disabled):not(.disabled):active, .show > .btn-success1.dropdown-toggle {
        color: var(--btn-success-disable-color);
        background-color: var(--btn-success-disable-bg-color);
        border-color: var(--btn-success-disable-border-color);
    }


.btnsection {
    text-align: right;
}

#dataTableFilter {
    outline-offset: 0px !important;
}

    #dataTableFilter:focus {
        outline: 0 !important;
        border-color: #3b71ca !important;
        box-shadow: inset 0 0 0 1px #3b71ca !important;
    }

.dataTables_length select[name="example_length"]:focus {
    outline: 0 !important;
    border-color: #3b71ca !important;
    box-shadow: inset 0 0 0 1px #3b71ca !important;
}

#dvDataTable table {
    table-layout: fixed;
}

.text-center{
    text-align:center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.btn-light:hover {
    background-color: white !important;
    border-color: white !important;
}

