################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AccountERPApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/AccountERPApp/bin
/AccountERPApp/Properties
/AccountERPApp/obj/Release/netcoreapp3.1/AccountERPApp.RazorAssemblyInfo.cs
/AccountERPApp/obj/Release/netcoreapp3.1/AccountERPApp.RazorAssemblyInfo.cache
/AccountERPApp/obj/Release/netcoreapp3.1/AccountERPApp.GeneratedMSBuildEditorConfig.editorconfig
/AccountERPApp/obj/Release/netcoreapp3.1/AccountERPApp.assets.cache
/AccountERPApp/obj/Release/netcoreapp3.1/AccountERPApp.AssemblyInfoInputs.cache
/AccountERPApp/obj/Release/netcoreapp3.1/AccountERPApp.AssemblyInfo.cs
/AccountERPApp/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
