
@{
    ViewData["Title"] = "Manage Module";
}

<link href="~/css/CommonStyle.css" rel="stylesheet" />
<script src="~/js/Common.js"></script>
<script src="~/js/SiteConfiguration/ManageModule.js"></script>

<style>

    #form {
        display: none;
    }

    .card-header .btnsection {
        display: inline-block;
        float: right;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnAddModule").click(function () { FormShow() });

        $("#btnCancel").click(function () { ClearAllField(); GridShow(); });

        RemoveSortingClass('tblAction');

    });

</script>

<div class="maincontent">

    @*Grid / Data Table Start*@
    <div id="grid" class="card">
        <div class="card-header">
            @ViewData["Title"]
            <div class="btnsection">
                <button type="button" id="btnAddModule" class="btn btn-success1"><i class="fa fa-plus" style="margin-right: 10px;"></i> Add</button>
            </div>
        </div>
        <div class="card-body">
            <div id="dvDataTable">
                <table id="dataTableModule" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">S.No</th>
                            <th class="text-center">Module Name</th>
                            <th class="text-center">Module Icon</th>
                            <th class="text-center">Module Name As ID</th>
                            <th class="text-center">Module Order No.</th>
                            <th class="text-center">Is Active</th>
                            <th class="text-center">Created User</th>
                            <th class="text-center">Created On</th>
                            <th class="text-center">Created User IP</th>
                            <th class="text-center">Last User</th>
                            <th class="text-center">Last Modified</th>
                            <th class="text-center">Last User IP</th>
                            <th class="text-center" id="tblAction">Action</th>
                        </tr>
                    </thead>
                    <tbody id="dataRow">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*Grid / Data Table End*@

    @*Add/Edit Form Section Start*@
    <div id="form" class="card">
        <div class="card-header">
            @ViewData["Title"]
        </div>
        <div class="card-body">
            <form id="ManageModuleForm">
                <input type="hidden" name="hdnModuleID" id="hdnModuleID" value="0" />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtModuleName">Module Name</label>
                        <input type="text" class="form-control" id="txtModuleName" placeholder="Module Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtModuleIcon">Module Icon</label>
                        <input type="text" class="form-control" id="txtModuleIcon" placeholder="Module Icon">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtModuleNameasID">Module Name As ID</label> &nbsp;
                        <i class="fa fa-info-circle test" data-toggle="tooltip" data-placement="right" data-original-title="Enter Controller Name like aaacontroller.cs remove Controller.cs word."></i>
                        <input type="text" class="form-control" id="txtModuleNameasID" placeholder="Module Name As ID">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="txtModuleOrderNo">Module Order No.</label>
                        <input type="text" class="form-control" id="txtModuleOrderNo" placeholder="Module Order No.">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="chkModuleIsActive">
                        <label class="form-check-label" for="chkModuleIsActive">Is Active Module</label>
                    </div>
                </div>
                <div class="btnsection">
                    <button type="button" class="btn btn-primary1" id="btnSave">Save</button>
                    <button type="button" id="btnCancel" class="btn btn-secondary1"><i class="fa fa-close" style="margin-right: 10px;"></i>Cancel</button>
                </div>
            </form>
        </div>
    </div>
    @*Add/Edit Form Section End*@

</div>

