
@{
    ViewData["Title"] = "Manage Product Brand";
}

<link href="~/css/CommonStyle.css" rel="stylesheet" />
<script src="~/js/Common.js"></script>
<script src="~/js/ProductConfiguration/ManageProductBrand.js"></script>

<style>

    #form {
        display: none;
    }

    .card-header .btnsection {
        display: inline-block;
        float: right;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnAddProductBrand").click(function () { FormShow() });

        $("#btnCancel").click(function () { CancelButtonAction(); });

        RemoveSortingClass('tblAction');

    });

</script>

<div class="maincontent">

    @*Grid / Data Table Start*@
    <div id="grid" class="card">
        <div class="card-header">
            @ViewData["Title"]
            <div class="btnsection">
                <button type="button" id="btnAddProductBrand" class="btn btn-success1"><i class="fa fa-plus" style="margin-right: 10px;"></i> Add</button>
            </div>
        </div>
        <div class="card-body">
            <div id="dvDataTable">
                <table id="dataTableProductBrand" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">S.No</th>
                            <th class="text-center">Brand Name</th>
                            <th class="text-center">Created User</th>
                            <th class="text-center">Created On</th>
                            <th class="text-center">Created User IP</th>
                            <th class="text-center">Last User</th>
                            <th class="text-center">Last Modified</th>
                            <th class="text-center">Last User IP</th>
                            <th class="text-center" id="tblAction">Action</th>
                        </tr>
                    </thead>
                    <tbody id="dataRow">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*Grid / Data Table End*@

    @*Add/Edit Form Section Start*@
    <div id="form" class="card">
        <div class="card-header">
            @ViewData["Title"]
        </div>
        <div class="card-body">
            <form id="ManageProductBrandForm">
                <input type="hidden" name="hdnProductBrandID" id="hdnProductBrandID" value="0" />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtProductBrandName">Brand Name</label>
                        <input type="text" class="form-control" id="txtProductBrandName" placeholder="Product Brand Name">
                    </div>
                </div>

                <div class="btnsection">
                    <button type="button" class="btn btn-primary1" id="btnSave">Save</button>
                    <button type="button" id="btnCancel" class="btn btn-secondary1"><i class="fa fa-close" style="margin-right: 10px;"></i>Cancel</button>
                </div>
            </form>
        </div>
    </div>
    @*Add/Edit Form Section End*@

</div>

