
@{
    ViewData["Title"] = "Manage Company";
}

<link href="~/css/CommonStyle.css" rel="stylesheet" />
<script src="~/js/Common.js"></script>
<script src="~/js/SystemManagement/ManageCompany.js"></script>

<script src="~/lib/jquery-ui/dist/js/jquery-ui.js"></script>
<script src="~/lib/jquery/dist/jquery-migrate.min.js"></script>
<link href="~/lib/jquery-ui/dist/css/jquery-ui.css" rel="stylesheet" type="text/css" />

<link href="~/lib/jquery-colorpicker/dist/css/jquery.colorpicker.css" rel="stylesheet" />
<script src="~/lib/jquery-colorpicker/dist/js/jquery.colorpicker.js"></script>

<style>

    #form {
        display: none;
    }
   #iFrameSection2 {
        display: none;
    }
    .card-header .btnsection {
        display: inline-block;
        float: right;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnAddCompany").click(function () { FormShow(); $("#iFrameSection2").show(); SetAdminGridIframeCSS(); });

        $("#btnCancel").click(function () { CancelButtonAction(); $("#iFrameSection2").hide(); });

        RemoveSortingClass('tblAction');

    });

</script>

<div class="maincontent">

    @*Grid / Data Table Start*@
    <div id="grid" class="card">
        <div class="card-header">
            <div class="dvPageHeading">@ViewData["Title"]</div>
            <div class="btnsection">
                <button type="button" id="btnAddCompany" class="btn btn-success1"><i class="fa fa-plus" style="margin-right: 10px;"></i> Add</button>
            </div>
        </div>
        <div class="card-body">
            <div id="dvDataTable">
                <table id="dataTableCompany" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">S.No</th>
                            <th class="text-center">Company Name</th>
                            <th class="text-center">Business Type </th>
                            <th class="text-center">TimeZone </th>
                            <th class="text-center">Postal Address 1</th>
                            <th class="text-center">Postal Address 2</th>
                            <th class="text-center">Postal Phone</th>
                            <th class="text-center">Postal Country</th>
                            <th class="text-center">Postal State</th>
                            <th class="text-center">Postal City</th>
                            <th class="text-center">Postal ZipCode</th>
                            <th class="text-center">Billing Address 1</th>
                            <th class="text-center">Billing Address 2</th>
                            <th class="text-center">Billing Phone</th>
                            <th class="text-center">Billing Country</th>
                            <th class="text-center">Billing State</th>
                            <th class="text-center">Billing City</th>
                            <th class="text-center">Billing ZipCode</th>
                            <th class="text-center">Company Logo</th>
                            <th class="text-center">NTN</th>
                            <th class="text-center">STN</th>
                            <th class="text-center">Website URL</th>
                            <th class="text-center">POSID</th>
                            <th class="text-center">No. Of Users Allowed</th>
                            <th class="text-center">Is Allow Power By</th>
                            <th class="text-center">Powered By</th>
                            <th class="text-center">Created User</th>
                            <th class="text-center">Created On</th>
                            <th class="text-center">Created User IP</th>
                            <th class="text-center">Last User</th>
                            <th class="text-center">Last Modified</th>
                            <th class="text-center">Last User IP</th>
                            <th class="text-center" id="tblAction">Action</th>
                        </tr>
                    </thead>
                    <tbody id="dataRow">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*Grid / Data Table End*@

    @*Add/Edit Form Section Start*@
    <div id="form" class="card">
        <div class="card-header">
            <div class="dvPageHeading">@ViewData["Title"]</div>
        </div>
        <div class="card-body">
            <form id="ManageCompanyForm">
                <input type="hidden" name="hdnCompanyID" id="hdnCompanyID" value="0" />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtCompanyName">Company Name</label>
                        <input type="text" class="form-control" id="txtCompanyName" placeholder="Company Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlBusinessTypeID">Business Type</label>
                        <select id="ddlBusinessTypeID" class="form-control">
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ddlTimeZoneID">Time Zone</label>
                        <select id="ddlTimeZoneID" class="form-control">
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtNoOfUsers">No. Of Users Allow</label>
                        <input type="text" class="form-control" id="txtNoOfUsers" placeholder="No. Of Users Allow">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="txtPostalAddress1">Postal Address 1</label>
                        <input type="text" class="form-control" id="txtPostalAddress1" placeholder="Postal Address 1">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="txtPostalAddress2">Postal Address 2</label>
                        <input type="text" class="form-control" id="txtPostalAddress2" placeholder="Postal Address 2">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="txtPostalPhone">Postal Phone</label>
                        <input type="text" class="form-control" id="txtPostalPhone" placeholder="Postal Phone">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="ddlPostalCountryID">Postal Country</label>
                        <select id="ddlPostalCountryID" class="form-control">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ddlPostalStateID">Postal State</label>
                        <select id="ddlPostalStateID" class="form-control">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ddlPostalCityID">Postal City</label>
                        <select id="ddlPostalCityID" class="form-control">
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="txtBillingAddress1">Billing Address 1</label>
                        <input type="text" class="form-control" id="txtBillingAddress1" placeholder="Billing Address 1">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="txtBillingAddress2">Billing Address 2</label>
                        <input type="text" class="form-control" id="txtBillingAddress2" placeholder="Billing Address 2">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="txtBillingPhone">Billing Phone</label>
                        <input type="text" class="form-control" id="txtBillingPhone" placeholder="Billing Phone">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="ddlBillingCountryID">Billing Country</label>
                        <select id="ddlBillingCountryID" class="form-control">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ddlBillingStateID">Billing State</label>
                        <select id="ddlBillingStateID" class="form-control">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ddlBillingCityID">Billing City</label>
                        <select id="ddlBillingCityID" class="form-control">
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtPostalZipCode">Postal ZipCode</label>
                        <input type="text" class="form-control" id="txtPostalZipCode" placeholder="Postal ZipCode">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtBillingZipCode">Billing ZipCode</label>
                        <input type="text" class="form-control" id="txtBillingZipCode" placeholder="Billing ZipCode">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="txtCompanyLogo">Company Logo</label>
                        <input type="file" class="form-control" id="txtCompanyLogo" placeholder="Company Logo">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="txtNTN">NTN</label>
                        <input type="text" class="form-control" id="txtNTN" placeholder="NTN">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="txtSTN">STN</label>
                        <input type="text" class="form-control" id="txtSTN" placeholder="STN">
                    </div>
                </div>

                <div id="dvLogo" class="form-row" style="display:none;">
                    <div class="form-group col-md-6">
                        <input type="hidden" id="hdnUploadedURL" />
                        <button type="button" class="btn btn-primary1" id="lnkViewLogo">View Logo</button>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtWebsiteURL">Website URL</label>
                        <input type="text" class="form-control" id="txtWebsiteURL" placeholder="Website URL">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtPOSID">POSID</label>
                        <input type="text" class="form-control" id="txtPOSID" placeholder="POSID">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ddlIsAllowPowerBy">Is Allow Power By</label>
                        <select id="ddlIsAllowPowerBy" class="form-control">
                            <option value="">Please Select</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtPoweredBy">Powered By</label>
                        <input type="text" class="form-control" id="txtPoweredBy" placeholder="Powered By">
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="chkIsDefaultThemeSetting">
                        <label class="form-check-label" for="chkIsDefaultThemeSetting">Is Default Theme Setting Use</label>
                    </div>
                </div>

                <div class="form-row">
                    <div class="cp1 form-group col-md-12">
                        <hr />
                    </div>
                    <div class="cp1 form-group col-md-12">
                        <h5>Admin Grid Section</h5>
                    </div>
                </div>

                <div class="form-row">
                    <div class="cp1 form-group col-md-4">
                        <label for="table-header-bg-color">table header bg color</label>
                        <input type="text" class="form-control" id="table-header-bg-color" value="3b5585" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="table-header-text-color">table header text color</label>
                        <input type="text" class="form-control" id="table-header-text-color" value="FFFFFF" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="pagination-button-bg-color">pagination button bg color</label>
                        <input type="text" class="form-control" id="pagination-button-bg-color" value="3b5585" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="cp1 form-group col-md-4">
                        <label for="pagination-button-text-color">pagination button text color</label>
                        <input type="text" class="form-control" id="pagination-button-text-color" value="FFFFFF" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="pagination-button-bg-color-hover">pagination button bg color hover</label>
                        <input type="text" class="form-control" id="pagination-button-bg-color-hover" value="3b71ca" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="pagination-button-text-color-hover">pagination button text color hover</label>
                        <input type="text" class="form-control" id="pagination-button-text-color-hover" value="FFFFFF" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="cp1 form-group col-md-4">
                        <label for="pagination-button-next-bg-color-hover">pgnation button next bg color hover</label>
                        <input type="text" class="form-control" id="pagination-button-next-bg-color-hover" value="3b71ca" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="no-of-entries-text-color">no of entries text color</label>
                        <input type="text" class="form-control" id="no-of-entries-text-color" value="696969" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="page-heading-color">page heading color</label>
                        <input type="text" class="form-control" id="page-heading-color" value="646161" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-success-color">btn success color</label>
                        <input type="text" class="form-control" id="btn-success-color" value="fff" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-success-border-color">btn success border color</label>
                        <input type="text" class="form-control" id="btn-success-border-color" value="28a745" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-success-bg-color">btn success bg color</label>
                        <input type="text" class="form-control" id="btn-success-bg-color" value="28a745" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-success-color-hover">btn success color hover</label>
                        <input type="text" class="form-control" id="btn-success-color-hover" value="fff" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-success-border-color-hover">btn success border color hover</label>
                        <input type="text" class="form-control" id="btn-success-border-color-hover" value="1e7e34" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-success-bg-color-hover">btn success bg color hover</label>
                        <input type="text" class="form-control" id="btn-success-bg-color-hover" value="218838" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-success-disable-color">btn success disable color</label>
                        <input type="text" class="form-control" id="btn-success-disable-color" value="fff" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-success-disable-bg-color">btn success disable bg color</label>
                        <input type="text" class="form-control" id="btn-success-disable-bg-color" value="1e7e34" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-success-disable-border-color">btn success disable border color</label>
                        <input type="text" class="form-control" id="btn-success-disable-border-color" value="1c7430" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-primary-color">btn primary color</label>
                        <input type="text" class="form-control" id="btn-primary-color" value="fff" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-primary-border-color">btn primary border color</label>
                        <input type="text" class="form-control" id="btn-primary-border-color" value="007bff" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-primary-bg-color">btn primary bg color</label>
                        <input type="text" class="form-control" id="btn-primary-bg-color" value="007bff" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-primary-color-hover">btn primary color hover</label>
                        <input type="text" class="form-control" id="btn-primary-color-hover" value="fff" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-primary-border-color-hover">btn primary border color hover</label>
                        <input type="text" class="form-control" id="btn-primary-border-color-hover" value="0062cc" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-primary-bg-color-hover">btn primary bg color hover</label>
                        <input type="text" class="form-control" id="btn-primary-bg-color-hover" value="0069d9" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-primary-disable-color">btn primary disable color</label>
                        <input type="text" class="form-control" id="btn-primary-disable-color" value="fff" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-primary-disable-bg-color">btn primary disable bg color</label>
                        <input type="text" class="form-control" id="btn-primary-disable-bg-color" value="0062cc" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-primary-disable-border-color">btn primary disable border color</label>
                        <input type="text" class="form-control" id="btn-primary-disable-border-color" value="005cbf" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-secondary-color">btn secondary color</label>
                        <input type="text" class="form-control" id="btn-secondary-color" value="fff" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-secondary-border-color">btn secondary border color</label>
                        <input type="text" class="form-control" id="btn-secondary-border-color" value="6c757d" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-secondary-bg-color">btn secondary bg color</label>
                        <input type="text" class="form-control" id="btn-secondary-bg-color" value="6c757d" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-secondary-color-hover">btn secondary color hover</label>
                        <input type="text" class="form-control" id="btn-secondary-color-hover" value="fff" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-secondary-border-color-hover">btn secondary border color hover</label>
                        <input type="text" class="form-control" id="btn-secondary-border-color-hover" value="545b62" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-secondary-bg-color-hover">btn secondary bg color hover</label>
                        <input type="text" class="form-control" id="btn-secondary-bg-color-hover" value="5a6268" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-secondary-disable-color">btn secondary disable color</label>
                        <input type="text" class="form-control" id="btn-secondary-disable-color" value="fff" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-secondary-disable-bg-color">btn secondary disable bg color</label>
                        <input type="text" class="form-control" id="btn-secondary-disable-bg-color" value="545b62" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                    <div class="cp1 form-group col-md-4">
                        <label for="btn-secondary-disable-border-color">btn secondary disable border color</label>
                        <input type="text" class="form-control" id="btn-secondary-disable-border-color" value="4e555b" onchange="AdminGridColorTextboxChange(this)">
                    </div>
                </div>

                <div class="btnsection">
                    <button type="button" class="btn btn-primary1" id="btnSave">Save</button>
                    <button type="button" id="btnCancel" class="btn btn-secondary1"><i class="fa fa-close" style="margin-right: 10px;"></i>Cancel</button>
                </div>
            </form>
        </div>
    </div>
    @*Add/Edit Form Section End*@

    <div id="iFrameSection2">
        <iframe id="admingriddemoframe" src="~/StaticFiles/AdminGridDemo.html" style="width:90%; height: 790px;"></iframe>
    </div>

</div>

<script type="text/x-handlebars" id="temp_ddlBusinessTypeID">

    <option value="">Please Select</option>
    {{#each this}}
    <option value="{{BusinessTypeID}}">{{BusinessTypeName}}</option>
    {{/each}}

</script>

<script type="text/x-handlebars" id="temp_ddlTimeZoneID">

    <option value="">Please Select</option>
    {{#each this}}
    <option value="{{TimeZoneID}}">{{TimeZoneName}}</option>
    {{/each}}

</script>

<script type="text/x-handlebars" id="temp_ddlPostalCountryID">

    <option value="">Please Select</option>
    {{#each this}}
    <option value="{{CountryID}}">{{CountryName}}</option>
    {{/each}}

</script>

<script type="text/x-handlebars" id="temp_ddlPostalStateID">

    <option value="">Please Select</option>
    {{#each this}}
    <option value="{{StateID}}">{{StateName}}</option>
    {{/each}}

</script>

<script type="text/x-handlebars" id="temp_ddlPostalCityID">

    <option value="">Please Select</option>
    {{#each this}}
    <option value="{{CityID}}">{{CityName}}</option>
    {{/each}}

</script>

<script type="text/x-handlebars" id="temp_ddlBillingCountryID">

    <option value="">Please Select</option>
    {{#each this}}
    <option value="{{CountryID}}">{{CountryName}}</option>
    {{/each}}

</script>

<script type="text/x-handlebars" id="temp_ddlBillingStateID">

    <option value="">Please Select</option>
    {{#each this}}
    <option value="{{StateID}}">{{StateName}}</option>
    {{/each}}

</script>

<script type="text/x-handlebars" id="temp_ddlBillingCityID">

    <option value="">Please Select</option>
    {{#each this}}
    <option value="{{CityID}}">{{CityName}}</option>
    {{/each}}

</script>



